body{
    background-color: rgb(156, 119, 82);
}

.container-login{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    width: 300px;
    height: 220px;
    border-radius: 14px;
    margin-top: 4rem;
    background-color: #725436;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    box-shadow: -3px -3px 7px #946f48, 2px 2px 5px rgb(0 0 0 / 80%);  
}

form{
    margin-top: 1rem;
}

form input{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;
    font-weight: bold;
}

.input-entrar{
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px #946f48, 2px 2px 5px rgb(0 0 0 / 80%); 
}

.input-entrar:hover{
    background-color: rgb(184, 184, 184);
}

.input-entrar:active{
    background-color: grey;
    transform: translateY(1px);
}

.input-usuario{
    margin-top: 2em;
    border-radius: 5px;
    height: 40px;
    width: 230px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px #946f48, 2px 2px 5px rgb(0 0 0 / 90%);
}

.input-contraseña{
    border-radius: 5px;
    height: 40px;    
    width: 230px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px #946f48, 2px 2px 5px rgb(0 0 0 / 90%);
}

.header{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-shadow: -3px -3px 7px #946f48, 2px 2px 5px rgb(0 0 0 / 70%);
    font-size: 50px;
    margin-top: 10rem;
}

form i{
    position: absolute;
    font-size: 20px;
    color: grey;
    margin: -30px 0 0 200px;
}