body{
    background-color: rgb(156, 119, 82);
}

.header{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-shadow: -3px -3px 7px #946f48, 2px 2px 5px rgb(0 0 0 / 70%);
    font-size: 50px;
    margin-top: 5rem;
}

.container-campañas{
    background-color: antiquewhite;
    border: 2px solid transparent;
    width: 1000px;
    height: auto;
    margin: 25 auto;
    box-sizing: content-box;
    box-shadow: -3px -3px 7px rgb(0 0 0 / 50%), 2px 2px 5px rgb(0 0 0 / 80%); 
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-left: 2rem;
    margin-top: 1rem;
}

.textarea-campañas{
    resize:none;
    text-decoration: none;
    outline: none;
    margin-left: 2rem;
    font-family: "Poppins", sans-serif;
}

.textarea-observacion{
    resize:none;
    text-decoration: none;
    outline: none;
    margin-left: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.textarea-campañas2{
    cursor: default;
    resize:none;
    text-decoration: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    outline: none;
    margin-left: 2rem;
    font-family: "Poppins", sans-serif;
}

.line{
    background-color: grey;
    width: 1000px;
    height: 1px;
    margin-top: 1rem;
}

.input-aceptar{
    margin-left: 2rem;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px #d8d8d8, 2px 2px 5px rgb(0 0 0 / 80%); 
    background-color: green;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.input-aceptar:hover{
    background-color: rgb(0, 99, 0);
}

.input-aceptar:active{
    background-color: rgb(0, 70, 0);
    transform: translateY(1px);
}

.input-rechazar{
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px #d8d8d8, 2px 2px 5px rgb(0 0 0 / 80%); 
    background-color: red;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.input-rechazar:hover{
    background-color: rgb(201, 0, 0);
}

.input-rechazar:active{
    background-color: rgb(124, 0, 0);
    transform: translateY(1px);
}

.input-enviar{
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px #d8d8d8, 2px 2px 5px rgb(0 0 0 / 80%); 
    background-color: rgb(0, 177, 147);
    color: white;
    margin-left: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.input-enviar:hover{
    background-color: rgb(0, 177, 147);
}

.input-enviar:active{
    background-color: rgb(0, 177, 147);
    transform: translateY(1px);
}

.label-campañas{
    font-family: "Poppins", sans-serif;
    margin-left: 2rem;
    font-weight: bold;
}

h2{
    font-family: "Poppins", sans-serif;
    margin-left: 2rem;
    font-weight: bold;
}

.dropdown-content {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.container-fecha{
    background-color: rgb(182, 138, 82);
    border: 2px solid transparent;
    width: 500px;
    height: 300px;
    margin: 25 auto;
    box-sizing: content-box;
    box-shadow: -3px -3px 7px rgb(0 0 0 / 50%), 2px 2px 5px rgb(0 0 0 / 80%); 
    margin-left: 2rem;
}

.show {
    display: block;
}

.header{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-shadow: -3px -3px 7px #946f48, 2px 2px 5px rgb(0 0 0 / 70%);
    font-size: 50px;
    margin-top: 4rem;
}

.header-fecha{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-shadow: -3px -3px 7px #946f48, 2px 2px 5px rgb(0 0 0 / 70%);
    font-size: 25px;
    margin-top: 0.5rem;
}

.label-a{
    margin-left: 1rem;
}

.label-observacion{
    margin-left: 2rem;
    font-size: 15px;
}

.input-fecha-guardar{
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px rgba(253, 182, 102, 0.8), 2px 2px 5px rgb(253 182 102/ 80%); 
    background-color: rgb(0, 177, 147);
    color: white;
    margin-top: 2rem;
    margin-left: 13.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.input-fecha-guardar:hover{
    background-color: rgb(0, 177, 147);
}

.input-fecha-guardar:active{
    background-color: rgb(0, 177, 147);
    transform: translateY(1px);
}

.input-fecha-volver{
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px rgba(253, 182, 102, 0.8), 2px 2px 5px rgb(253 182 102/ 80%); 
    background-color: rgb(0, 177, 147);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 2rem;
}

.input-fecha-volver:hover{
    background-color: rgb(0, 177, 147);
}

.input-fecha-volver:active{
    background-color: rgb(0, 177, 147);
    transform: translateY(1px);
}

.fecha-datos{
    margin-top: 2rem;
}

.label-de{
    margin-left: 2rem;
}

.container-solicitudes{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background-color: white;
    width: 1000px;
    height: auto;
    box-shadow: -3px -3px 7px transparent, 2px 2px 5px rgb(0 0 0 / 100%); 
}

.container-solicitudes-table{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table, th, td {
    font-family: "Poppins", sans-serif;
    border-spacing: 0px;
    text-align: center;
    text-align: left;
    font-weight: bold;
    margin-left: 2rem;
    margin-right: 2rem;
}

thead .fecha{
    width: 500px;
}

thead :first-child{
    width: 1200px;
}

thead :last-child{
    width: 500px;
}

th{
    background-color: #85c2b5;
    text-align: left;
    color: white;
}

.nav-encargado{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.nav-encargado a{
    border: 1px solid;
    text-decoration: none;
    background-color: transparent;
    border-width: 10px;
    border-color: transparent;
    border-radius: 5px;
    color: white;
    margin-right: 0.5rem;
}

.nav-encargado a:hover{
    background-color: #85c2b5;
    border-color: #85c2b5;
}

.nav-encargado > .active > a { 
    background-color: #85c2b5;
    border-color: #85c2b5;
}

.container-diseño{
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: white;
    width: 1500px;
    height: 500px;
    box-shadow: -3px -3px 7px transparent, 2px 2px 5px rgb(0 0 0 / 100%); 
    justify-content: center;
}

.container-diseño-datos-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-diseño-datos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input-diseño{
    border-radius: 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-right: 0.5rem;
}

.input-diseño-enviar{
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px #d8d8d8, 2px 2px 5px rgb(0 0 0 / 80%); 
    background-color: rgb(0, 177, 147);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-left: 8.5rem;
}

.input-diseño-enviar:hover{
    background-color: rgb(0, 156, 130);
}

.input-diseño-enviar:active{
    background-color: rgb(0, 116, 96);
    transform: translateY(1px);
}

.input-diseño-seleccion{
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid transparent;
    box-shadow: -3px -3px 7px #d8d8d8, 2px 2px 5px rgb(0 0 0 / 80%); 
    background-color: rgb(0, 177, 147);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-left: 12.3rem;
}

textarea{
    resize:none;
    outline: none;
}

.label{
    font-weight: bold;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-right: 1.2rem;
}

.labelSol{
    font-weight: bold;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-right: -1rem;
}

.label-detalles{
    font-weight: bold;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}